<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>otest</display-name>
  <welcome-file-list>
    <welcome-file>/jsp/home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StartServlet</display-name>
    <servlet-name>StartServlet</servlet-name>
    <servlet-class>com.servlets.StartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartServlet</servlet-name>
    <url-pattern>/StartServlet</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <description></description>
    <display-name>FServlet</display-name>
    <servlet-name>FServlet</servlet-name>
    <servlet-class>com.servlets.ForgotPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FServlet</servlet-name>
    <url-pattern>/ForgotPass</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <description></description>
    <display-name>GetOptions</display-name>
    <servlet-name>GetOptions</servlet-name>
    <servlet-class>com.servlets.GetOptions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOptions</servlet-name>
    <url-pattern>/GetOptions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Result</display-name>
    <servlet-name>Result</servlet-name>
    <servlet-class>com.servlets.Result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Result</servlet-name>
    <url-pattern>/Result</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOptionsTech</display-name>
    <servlet-name>GetOptionsTech</servlet-name>
    <servlet-class>com.servlets.GetOptionsTech</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOptionsTech</servlet-name>
    <url-pattern>/GetOptionsTech</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EndServlet</display-name>
    <servlet-name>EndServlet</servlet-name>
    <servlet-class>com.servlets.EndServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EndServlet</servlet-name>
    <url-pattern>/EndServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.servlets.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegesterServlet</display-name>
    <servlet-name>RegesterServlet</servlet-name>
    <servlet-class>com.servlets.RegesterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegesterServlet</servlet-name>
    <url-pattern>/RegesterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reports</display-name>
    <servlet-name>Reports</servlet-name>
    <servlet-class>com.servlets.Reports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reports</servlet-name>
    <url-pattern>/Reports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.servlets.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestReportServlet</display-name>
    <servlet-name>TestReportServlet</servlet-name>
    <servlet-class>com.test.TestReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestReportServlet</servlet-name>
    <url-pattern>/TestReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadQuestions</display-name>
    <servlet-name>UploadQuestions</servlet-name>
    <servlet-class>com.servlets.UploadQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadQuestions</servlet-name>
    <url-pattern>/UploadQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertQuestions</display-name>
    <servlet-name>InsertQuestions</servlet-name>
    <servlet-class>com.servlets.InsertQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertQuestions</servlet-name>
    <url-pattern>/InsertQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestPath</display-name>
    <servlet-name>TestPath</servlet-name>
    <servlet-class>com.test.TestPath</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestPath</servlet-name>
    <url-pattern>/TestPath</url-pattern>
  </servlet-mapping>
  <session-config>
  <session-timeout>50000</session-timeout>
  </session-config>
</web-app>